# devenv and nix
.direnv
.devenv
.envrc
devenv.*
*.flake.*
*.nix

# environment
.env

# temporary directories
tmp

# SQLite files
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
sqlite-*
**/*.sqlite
**/sqlite-*
