# devenv and nix
.direnv
.devenv
.envrc
devenv.*
*.flake.*
*.nix
devenv.local.nix

# pre-commit
.pre-commit-config.yaml

# environment
.env

# temporary directories
tmp

# SQLite files
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
sqlite-*
**/*.sqlite
**/sqlite-*

# js stuff
node_modules

# Ignore all _templ.go files in the web/components directory
web/components/*_templ.go

