package components

import "my-app/internal/model"

templ CountryList(countries []model.Country) {
	<div id="country-list" class="country-list">
		for _, country := range countries {
			<div class="country-item">
				<a
					href={ templ.SafeURL("/country" + country.Name) }
				>{ country.Name }</a>
				<p>Capital: { country.Capital }</p>
				<p>Continent: { country.Continent }</p>
			</div>
		}
	</div>
}
