// components/index.templ
package pages

import "my-app/web/components/layout"

templ main() {
	<main class="flex flex-1 flex-col min-h-max justify-center bg-red-200 items-center">something in main</main>
}

templ Index() {
	@layout.Base(main())
}
